:root {
  --color-text: #333;

  --color-light-background: #2D7CC9;
  --color-dark-background: #333;

  --color-border: #e0d9ce;
  --color-shadow: #0000001A;

  --color-red: #ff0000;
  --color-blue: #0000ff;
  
  
  
  --color-primary: #01A58C;
  --color-white: #fff;
  --color-yellow: #ffee00;
}